<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>CLIENTES</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"></link>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

	<div th:replace="menu :: header">&nbsp;</div>
	
	<br></br>
	<br></br>
	<br></br>
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>CLIENTES</strong>
        </div>
        
        <div class="panel-body">
	        <div class="form-group">
	    		<fieldset>
	            	<legend>Pesquisar</legend>
	                <div class="form-group row">                                                          
	                    <div class="col-md-4" th:classappend="${#fields.hasErrors('nome')}? 'has-error'">
	                        <label>Nome</label>
	                        <input type="text" required="required" class="form-control input-sm" th:field="*{nome}" autofocus="autofocus" placeholder="Informe o nome" maxlength="50"/>
	                    </div>
	                </div>
	    		</fieldset>
	 		
				<a class="btn btn-sm btn-success" th:href="@{/cliente/consultar/${nome}}"><span>Consultar</span></a>
				
			</div>
        </div>
        
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-sm table-striped table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>NOME</th>
                            <th>SOBRENOME</th>
                            <th>ENDERECO</th>
                            <th>EMAIL</th>
                            <th>TELEFONE</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
          				
                        <tr th:each="cliente : ${clientes}">
                            <td th:text="${cliente.nome}"></td>
                            <td th:text="${cliente.sobreNome}"></td>
                            <td th:text="${cliente.enderecoCompleto()}"></td>
                            <td th:text="${cliente.email}"></td>
                            <td th:text="${cliente.telefone}"></td>
                            
                            <td>
                                <div class="btn-group pull-right">
                                    <a class="btn btn-sm btn-primary" th:href="@{/cliente/edit/{id}(id=${cliente.id})}" >Editar</a>
                                    <a class="delete btn btn-sm btn-danger" th:href="@{/cliente/delete/{id}(id=${cliente.id})}">Excluir</a>
                               </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="panel-footer">
            <a class="btn btn-sm btn-success" th:href="@{/cliente/add}" >Adicionar</a>
        </div>
    </div>
</body>
</html>