<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Cadastro de Produtos</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"></link>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../../js/jquery.maskMoney.js"></script>
</head>
<body>

<script type="text/javascript">
	$(function(){
 	$("#preco_compra").maskMoney({symbol:'R$ ', 
	showSymbol:true, thousands:'.', decimal:',', symbolStay: true});
 	})
 	
 	$(function(){
 	$("#preco_venda").maskMoney({symbol:'R$ ', 
	showSymbol:true, thousands:'.', decimal:',', symbolStay: true});
 	})
</script>

	<div th:replace="menu :: header">&nbsp;</div>
	<br></br>
	<br></br>
	<br></br>
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong><h2>Cadastro de Produtos</h2></strong>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" th:object="${produto}" th:action="@{/save}" method="POST" style="margin: 10px">
                <div class="form-group">
                    <fieldset>
                        <legend>Cadastro de Produtos</legend>
                        <div class="form-group row">
                            <div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
                                <div th:each="detailedError : ${#fields.detailedErrors()}">
                                    <span th:text="${detailedError.message}"></span>
                                </div>
                            </div>
                        </div>                    
                        <div class="form-group row">
                            <div class="col-md-1">
                                <input type="text" class="form-control input-sm" id="id" th:field="*{id}" readOnly="readonly"/>
                            </div>
                         </div>
                        <div class="form-group row">                                                          
                            <div class="col-md-2" th:classappend="${#fields.hasErrors('codigo')}? 'has-error'">
                                <label>Código</label>
                                <input type="text" readonly="readonly" class="form-control input-sm" th:field="*{codigo}" autofocus="autofocus" placeholder="Informe o codigo" maxlength="4"/>
                            </div>
                            <div class="col-md-6" required="required" th:classappend="${#fields.hasErrors('descricao')}? 'has-error'">
                                <label>Descrição</label> 
                                <input type="text" class="form-control input-sm" th:field="*{descricao}" maxlength="150" placeholder="Informe a descricao"/>
                            </div>
                            <div class="col-md-2" th:classappend="${#fields.hasErrors('precoCompraStr')}? 'has-error'">
                                <label>Preço de compra</label> 
                                <input id="preco_compra" type="text" 
                                	class="form-control input-sm" 
                                	th:field="*{precoCompraStr}" placeholder="Informe a preço da compra"/>
                            </div>
                            <div class="col-md-2" th:classappend="${#fields.hasErrors('precoVendaStr')}? 'has-error'">
                                <label>Preço de venda</label> 
                                <input id="preco_venda" type="text" required="required" class="form-control input-sm" th:field="*{precoVendaStr}" placeholder="Informe a preço de venda"/>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-4" th:classappend="${#fields.hasErrors('tipoProduto')}? 'has-error'">
                                <label>Tipos</label> 
		                        <select class="form-control" required="required" name="tipoProduto" id="tipoProduto">
								     <option value="0">SELECIONE</option>
								     <option th:each="tipo : ${tipos}"
								             th:value="${tipo.id}"
								             th:text="${tipo.descricao}"
								             th:selected="${tipo.descricao == produto.tipoProduto.descricao}">
     						</option>
								</select>
                            </div>
                            <div class="col-md-4" th:classappend="${#fields.hasErrors('categoriaProduto')}? 'has-error'">
                                <label>Categorias</label> 
		                        <select class="form-control" required="required" name="categoriaProduto" id="categoriaProduto">
								     <option value="0">SELECIONE</option>
								     <option th:each="cat : ${categorias}"
								             th:value="${cat.id}"
								             th:text="${cat.descricao}"
								             th:selected="${cat.descricao == produto.categoriaProduto.descricao}">
     						</option>
								</select>
                            </div>

                            <div class="col-md-4" th:classappend="${#fields.hasErrors('fornecedor')}? 'has-error'">
                                <label>Fornecedor</label> 
		                        <select class="form-control" required="required" name="fornecedor" id="fornecedor">
								     <option value="0">SELECIONE</option>
								     <option th:each="forn : ${fornecedores}"
								             th:value="${forn.id}"
								             th:text="${forn.nome}" 
								             th:selected="${forn.nome == produto.fornecedor.nome}">
     						</option>
								</select>
                            </div>

                            <div class="col-md-4" th:classappend="${#fields.hasErrors('unidadeMedida')}? 'has-error'">
                                <label>Unidade</label> 
		                        <select class="form-control" required="required" name="unidadeMedida" id="unidade">
								     <option value="0">SELECIONE</option>
								     <option th:each="unid : ${unidades}"
								             th:value="${unid.id}"
								             th:text="${unid.descricao}"
								             th:selected="${unid.descricao == produto.unidadeMedida.descricao}">
     						</option>
								</select>
                            </div>
                        </div>

                    </fieldset>
                </div>
                <div class="form-group row">
                	<div class="panel-footer">
	                    <button type="submit" class="btn btn-sm btn-primary">Salvar</button>
	                    <a th:href="@{/}" class="btn btn-sm btn-default">Cancelar</a>
			        </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>