<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>PRODUTOS</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"></link>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

	<div th:replace="menu :: header">&nbsp;</div>
	
	<br></br>
	<br></br>
	<br></br>
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>PRODUTOS</strong>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-sm table-striped table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Código</th>
                            <th>Descrição</th>
                            <th>Tipo</th>
                            <th>Categoria</th>
                            <th>Unidade</th>
                            <th>Fornecedor</th>
                            <th>Preço de Compra</th>
                            <th>Preço de Venda</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="prod : ${produtos}">
                            <td th:text="${prod.id}"></td>
                            <td th:text="${prod.codigo}"></td>
                            <td th:text="${prod.descricao}"></td>
                            <td th:text="${prod.tipo()}"></td>
                            <td th:text="${prod.categoria()}"></td>
                            <td th:text="${prod.unidade()}"></td>
                            <td th:text="${prod.fornecedor()}"></td>
                            <td th:text="${prod.precoCompra}"></td>
                            <td th:text="${prod.precoVenda}"></td>
                            
                            <td>
                                <div class="btn-group pull-right">
                                    <a class="btn btn-sm btn-primary" th:href="@{/edit/{id}(id=${prod.id})}" >Editar</a>
                                    <a class="delete btn btn-sm btn-danger" th:href="@{/delete/{id}(id=${prod.id})}">Excluir</a>
                               </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                
            </div>
        </div>
        <div class="panel-footer">
            <a class="btn btn-sm btn-success" th:href="@{/add}" >Adicionar</a>
        </div>
    </div>
</body>
</html>