<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>SIC - Feirinha do Bem</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"></link>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

	<div th:replace="menu :: header">&nbsp;</div>

	<div class="panel panel-default">
		<div class="panel-heading">
            <strong>Painel de controle</strong>
        </div>
	</div>
    <br></br>
    <br></br>
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>Pedidos Lançados em Aberto</strong>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-sm table-striped table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>Número da Venda</th>
                            <th>Nome do Cliente</th>
                            <th>Endereço da Entrega</th>
                            <th>Data do Pedido</th>
                            <th>Data da Entrega</th>
                            <th>Tipo de Pagamento</th>
                            <th>Valor da Venda</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="pedido : ${pedidos}">
                            <td th:text="${pedido.id}"></td>
                            <td th:text="${pedido.cliente.nome}"></td>
                            <td th:text="${pedido.cliente.enderecoEntregaCompleto()}"></td>
                            <td th:text="${pedido.dataVenda}"></td>
                            <td th:text="${pedido.dataEntrega}"></td>
                            <td th:text="${pedido.tipoPagamento.descricao}"></td>
                            <td th:text="${pedido.calculaSomaTotal()}"></td>
                            
                            <td>
                                <div class="btn-group pull-right">
                                    <a class="btn btn-sm btn-primary" th:href="@{/vendas/edit/{id}(id=${pedido.id})}" >Editar Pedido</a>
                                    <a class="btn btn-sm btn-primary" th:href="@{/home/view/{id}(id=${pedido.id})}" >Visualizar Pedido</a>
                                    <a class="delete btn btn-sm btn-danger" th:href="@{/home/cancelarVenda/{id}(id=${pedido.id})}">Cancelar Venda</a>
                                    <a class="delete btn btn-sm btn-success" th:href="@{/home/finalizarVenda/{id}(id=${pedido.id})}">Registra Venda</a>
                               </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>Vendas Faturadas</strong>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-sm table-striped table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>Número da Venda</th>
                            <th>Nome do Cliente</th>
                            <th>Endereço da Entrega</th>
                            <th>Status da Venda</th>
                            <th>Data do Pedido</th>
                            <th>Data da Entrega</th>
                            <th>Tipo de Pagamento</th>
                            <th>Valor da Venda</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="pedido : ${pedidosFinalizados}">
                            <td th:text="${pedido.id}"></td>
                            <td th:text="${pedido.cliente.nome}"></td>
                            <td th:text="${pedido.cliente.enderecoEntregaCompleto()}"></td>
                            <td th:text="${pedido.statusVenda()}"></td>
                            <td th:text="${pedido.dataVenda}"></td>
                            <td th:text="${pedido.dataEntrega}"></td>
                            <td th:text="${pedido.tipoPagamento.descricao}"></td>
                            <td th:text="${pedido.calculaSomaTotal()}"></td>
                            
                            <td>
                                <div class="btn-group pull-right">
                                    <a class="btn btn-sm btn-primary" th:href="@{/home/view/{id}(id=${pedido.id})}" >Visualizar</a>
                               </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</body>
</html>