<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="site-head">
<meta charset="UTF-8" />
<link rel="stylesheet" href="../public/css/styles.css"
	th:href="@{/css/styles.css}" />
<link rel="icon" href="../public/img/favicon.ico"
	th:href="@{/img/favicon.ico}" />
<script src="../public/js/jquery-3.2.1.min.js"
	th:src="@{/js/jquery-3.2.1.min.js}"></script>
<meta th:include="this :: head" th:remove="tag" />
</head>
<body>
	<header th:fragment="site-header">
		<a href="index.html" th:href="@{/}"><img
			src="../public/img/site-logo.png" th:src="@{/img/site-logo.png}" /></a>
		<a href="index.html" th:href="@{/}">Home</a> <a
			href="users/login.html" th:href="@{/users/login}">Venda</a> <a
			href="users/register.html" th:href="@{/produtos/view}">Cadastro de Produtos</a>
			href="users/register.html" th:href="@{/produtos/view}">Cadastro de Clientes</a>
		<div id="logged-in-info">
			<span>SIC - Sistema de Controle Interno</span>
		</div>
	</header>
	<h1>Bemvindo</h1>
	<p>Bemvindo, Feirinha do Bem.</p>
	<footer th:fragment="site-footer"> &copy; Spring MVC Blog
		System, 2016 </footer>
</body>
</html>