<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link href="../../../resources/css/bootstrap.min.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/bootstrap.min.css}" />
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top"
		th:fragment="header">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".nav-collapse">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Feirinha do Bem</a>
			</div>
			<div class="navbar navbar-inverse navbar-fixed-top">
				<div class="container">
					<div class="navbar-header">
						<a class="navbar-brand" href="/">SIC - Feirinha do Bem</a>
					</div>
					<div class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
							<li class="active"><a href="/">Home</a></li>
						</ul>
						<ul class="nav navbar-nav">
							<li class="active"><a href="/vendas">Registrar pedido</a></li>
						</ul>
						<ul class="nav navbar-nav">
							<li class="active"><a href="/compras">Relatorio de compras</a></li>
						</ul>
						<ul class="nav navbar-nav">
							<li class="active"><a href="/produtos/">Produtos</a></li>
						</ul>
						<ul class="nav navbar-nav">
							<li class="active"><a href="/clientes">Clientes</a></li>
						</ul>
						<!-- <ul class="nav navbar-nav">
							<li class="active"><a href="/estoque">Estoque</a></li>
						</ul> -->
					</div>
				</div>
			</div>
			<!--/.nav-collapse -->
		</div>
	</nav>
</body>
</html>