<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Visualizar Pedido</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"></link>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	<script type="text/javascript" src="../../js/vendaController.js"></script>
    
</head>

<body id="body_id">
	<div th:replace="menu :: header">&nbsp;</div>
	<br></br>
	<br></br>
	<br></br>
    <div class="panel panel-default">
        <div class="panel-body">
            <form id="form_id" class="form-horizontal" th:object="${pedido}" style="margin: 10px">
                <div class="form-group">
                    <fieldset>
                    	<legend>Visualizar Pedido</legend>
                        <div class="form-group row">
                            <div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
                                <div th:each="detailedError : ${#fields.detailedErrors()}">
                                    <span th:text="${detailedError.message}"></span>
                                </div>
                            </div>
                        </div>                    
                        <div class="form-group row">
                           <div class="col-md-1">
                               <input type="text" class="form-control input-sm" id="id" th:field="*{id}" readOnly="readonly"/>
                           </div>
                        </div>
	                   	<fieldset>
	                    	<legend>Cliente</legend>
	                    		<div id="div_cliente">
			                         <div class="form-group row"> 
			                        	<div class="col-md-4">
											<label for="nome_cliente" class="control-label">Nome</label>
											<input type="text" disabled="disabled" class="form-control" id="nome_cliente" name="nome_cliente" th:field="*{cliente.nome}"></input>
			                        	</div>
			                        	<div class="col-md-4">
											<label for="endereco_id" class="control-label">Endereço</label>
											<input type="text" class="form-control" id="endereco_id" name="endereco" th:field="*{cliente.endereco.logradouro}" readonly="readonly"></input>
			                        	</div>
									</div>
			                        <div class="form-group row">
			                        	<div class="col-md-4">
											<label for="email_id" class="control-label">Email</label>
											<input type="text" class="form-control" id="email_id" name="email" th:field="*{cliente.email}" readonly="readonly"></input>
			                        	</div>
			                        	<div class="col-md-4">
											<label for="telefone_id" class="control-label">Telefone</label>
											<input type="text" class="form-control" id="telefone_id" name="telefone" th:field="*{cliente.telefone}" readonly="readonly"></input>
			                        	</div>
			                        </div> 
	                    		</div>
	                   	</fieldset>
	                        
	                    <fieldset>
							<div class="table-responsive">
				                <label>Lista de produtos da venda</label>
				                <table class="table table-sm table-striped table-hover table-bordered">
				                    <thead>
				                        <tr>
				                            <th>Código do Produto</th>
				                            <th>Descrição</th>
				                            <th>Unidade</th>
				                            <th>Quantidade</th>
				                            <th>Preço Untário</th>
				                            <th>Preço Venda</th>
				                        </tr>
				                    </thead>
				                    <tbody>
				                        <tr id="itens" th:each="item : ${itens}">
				                            <td th:text="${item.codigo}"></td>
				                            <td th:text="${item.descricao}"></td>
				                            <td th:text="${item.unidadeMedida.descricao}"></td>
				                            <td th:text="${item.quantidade}"></td>
				                            <td th:text="${item.precoVenda}"></td>
				                            <td th:text="${item.calculaValorVenda()}"></td>
				                        </tr>
				                    </tbody>
				                </table>
	          					</div>
	                   		</fieldset>
				                <div class="form-group row">
									<div id="btn_add_item" class="col-md-12" align="right">
										<fieldset>
					                       	<label for="valor_total" class="control-label" >Subtotal</label>
					                       	<label for="valor_total" class="control-label">
					                       		<input type="text" disabled="disabled" style="align-content: rigth;" class="form-control" id="valor_total" th:field="*{valorTotal}" name="total"></input>
					                       	</label>
					                    </fieldset>
				                     </div>
								</div>
                   		</fieldset>
                	</div>
                
                <div class="form-group">
                	<fieldset>
                       	<legend>Dados da entrega</legend>
                       	
                       	<div class="form-group row">
		                        
	                        <div class="col-md-5" th:classappend="${#fields.hasErrors('cliente.enderecoEntrega.logradouro')}? 'has-error'">
	                                <label>Data da entrega</label> 
	                                <input type="date" disabled="disabled" class="form-control input-sm" th:field="*{dataEntrega}" placeholder="Informe a Data da entrega"/>
                            </div>
	                        <div class="col-md-5" th:classappend="${#fields.hasErrors('cliente.enderecoEntrega.logradouro')}? 'has-error'">
	                                <label>Rua</label> 
	                                <input type="text" disabled="disabled" class="form-control input-sm" th:field="*{cliente.enderecoEntrega.logradouro}" maxlength="150" placeholder="Informe a rua"/>
                            </div>
                            <div class="col-md-5" th:classappend="${#fields.hasErrors('cliente.enderecoEntrega.complemento')}? 'has-error'">
                                <label>Complemento</label> 
                                <input type="text" disabled="disabled" class="form-control input-sm" th:field="*{cliente.enderecoEntrega.complemento}" maxlength="150" placeholder="Informe o complemento"/>
                            </div>
                            <div class="col-md-2" th:classappend="${#fields.hasErrors('cliente.enderecoEntrega.numero')}? 'has-error'">
                                <label>Número</label> 
                                <input type="text" disabled="disabled" class="form-control input-sm" th:field="*{cliente.enderecoEntrega.numero}" maxlength="150" placeholder="Informe o número"/>
                            </div>
                        </div>
			                        
                        <div class="form-group row">
                            <div class="col-md-8" th:classappend="${#fields.hasErrors('cliente.enderecoEntrega.bairro')}? 'has-error'">
                                <label>Bairro</label> 
                                <input type="text" disabled="disabled" class="form-control input-sm" th:field="*{cliente.enderecoEntrega.bairro}" maxlength="150" placeholder="Informe o bairro"/>
                            </div>
                            <div class="col-md-4" th:classappend="${#fields.hasErrors('cliente.enderecoEntrega.cep')}? 'has-error'">
                                <label>CEP</label> 
                                <input type="text" disabled="disabled" class="form-control input-sm" th:field="*{cliente.enderecoEntrega.cep}" maxlength="8" placeholder="Informe o CEP"/>
                            </div>
                        </div>
		                        
                    </fieldset>
                
					<fieldset>
                       	<legend>Informações da Compra</legend>
                       	<div id="div_info_compra">
	                       	
	                       	<div class="form-group row"> 
		                    
	                        	<div class="col-md-4">
			                       	<label for="end_entrega" class="control-label" >Valor do Frete</label>
		                       		<input type="number" disabled="disabled" class="form-control" id="vlr_frete" th:field="*{valorFrete}" name="vlr_frete"></input>
		                        </div>
	                        	
	                        	<div class="col-md-4">
			                       	<label for="vlr_desconto" class="control-label">Valor Desconto</label>
		                       		<input type="number" disabled="disabled" class="form-control" id="vlr_desconto" th:field="*{valorDesconto}" name="vlr_desconto"></input>
		                        </div>

	                        	<div class="col-md-4">
			                       	<label for="tipoPagamento" class="control-label">Tipo de pagamento</label>
		                       		<input type="text" disabled="disabled" class="form-control" id="tipoPagamento" th:field="*{tipoPagamento.descricao}" name="tipoPagamento"></input>
		                        </div>

		                    </div>
		                    
                       	</div>

                       	<div id="div_info_compra">
		                    <div class="form-group row"> 
	                        	<div class="col-md-4">
			                       	<label for="data_entrega" class="control-label" >Data da Entrega</label>
		                       		<input type="date" disabled="disabled" class="form-control" id="data_entrega" th:field="*{dataEntrega}" name="data_entrega"></input>
	                        	</div>

	                        	<div class="col-md-4">
			                       	<label for="observacao" class="control-label" >Observação</label>
		                       		<textarea rows="10" disabled="disabled" class="form-control" id="observacao" th:field="*{observacao}" name="observacao"></textarea>
	                        	</div>
	                        </div>

                       	</div>
                       	
                       	
                    </fieldset>
				</div>
				
                <div class="form-group row">
                    <a th:href="@{/}" class="btn btn-sm btn-primary">Voltar</a>
                    <a class="btn btn-sm btn-primary" th:href="@{/home/relatorioVenda/{id}(id=${pedido.id})}" >Gerar Relatório</a>
                </div>
            </form>
        </div>
    </div>
    
</body>
</html>