<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>Registrar Compra</title>
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet"></link>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script type="text/javascript" src="../../js/jquery.maskMoney.js"></script>
</head>

<body id="body_id">

	<script type="text/javascript">
	$(function(){
 	$("#valor_id").maskMoney({symbol:'R$ ', 
	showSymbol:true, thousands:'.', decimal:',', symbolStay: true});
 	})
 	
</script>

	<div th:replace="menu :: header">&nbsp;</div>
	<br></br>
	<br></br>
	<br></br>
	<div class="panel panel-default">
		<div class="panel-heading">
			<strong><h2>Registrar Compra</h2></strong>
		</div>
		<div class="panel-body">
			<form id="form_id" class="form-horizontal" th:object="${compra}"
				th:action="@{/compras/save}" method="POST" style="margin: 10px">
				<div class="form-group">
					<fieldset>
						<legend>
							<h3>Selecione um Fornecedor</h3>
						</legend>
						<div class="form-group row"> 
							<div class="col-md-4"
								th:classappend="${#fields.hasErrors('fornecedor')}? 'has-error'">
								<label>Fornecedores</label> <select class="form-control"
									required="required" name="fornecedor" id="fornecedor_id">
									<option value="0">SELECIONE</option>
									<option th:each="forn : ${fornecedores}" 
										th:value="${forn.id}"
										th:text="${forn.nome}">
     						</option>
								</select>
							</div>
						</div>
					</fieldset>
					
					<fieldset>
						<legend>
							<h3>Dados da Compra</h3>
						</legend>
						<div class="form-group row">
							<div class="col-md-4">
								<label for="descricao_id" class="control-label">Descrição</label>
								<input type="text" class="form-control" id="descricao_id"
									name="descricao" th:field="*{descricao}"></input>
							</div>
							<div class="col-md-2">
								<label for="valor_id" class="control-label">Valor da compra</label> 
								<input 	type="text" class="form-control" id="valor_id" name="valor" th:field="*{valorStr}"></input>
							</div>
						</div>
						<div class="form-group row"> 
							<div class="col-md-2">
								<label for="data_id" class="control-label">Data da compra</label> 
								<input type="date" class="form-control" id="data_id" name="data" th:field="*{dataCompraStr}"></input>
							</div>

						</div>
						<div class="form-group row"> 
							<div class="col-md-6">
								 <label>Observação</label>
								<textarea name="OBS" class="form-control" cols="10" rows="4" th:field="*{observacao}"></textarea>
							</div>
							
						</div>
					</fieldset>

					<div class="form-group row">
							<div class="col-md-6">
								<button type="submit" class="btn btn-sm btn-primary">Salvar</button>
								<a th:href="@{/}" class="btn btn-sm btn-default">Cancelar</a>
							</div>
					</div>

				</div>
			</form>
		</div>
	</div>

</body>
</html>