<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>PRODUTOS</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"></link>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

	<div th:replace="menu :: header">&nbsp;</div>
	
	<br></br>
	<br></br>
	<br></br>
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong><h2>Lista de Itens pendentes para compra</h2> </strong>
        </div>
        <div class="panel-body">
        	<form id="form_id" class="form-horizontal" style="margin: 10px">
	            <div class="table-responsive">
	                <table class="table table-sm table-striped table-hover table-bordered">
	                    <thead>
	                        <tr>
	                            <th>Data da Compra</th>
	                            <th>Código do Produto</th>
	                            <th>Descrição do Produto</th>
	                            <th>Unidade de Medida</th>
	                            <th>Preço de Compra</th>
	                            <th>Quantidade</th>
	                        </tr>
	                    </thead>
	                    <tbody>
	                        <tr th:each="item : ${itensCompra}">
	                            <td th:text="${item.dataCompra}"></td>
	                            <td th:text="${item.codigo}"></td>
	                            <td th:text="${item.descricao}"></td>
	                            <td th:text="${item.unidadeMedida}"></td>
	                            <td th:text="${item.precoCompra}"></td>
	                            <td th:text="${item.quantidade}"></td>
	                        </tr>
	                    </tbody>
	                </table>
	                
	            </div>

		        <div class="panel-footer">
		            <a th:href="@{/}" class="btn btn-sm btn-primary">Voltar</a>
		            <a class="btn btn-sm btn-primary" th:href="@{/compras/relatorioVenda/}" >Gerar Relatório</a>
		        </div>
        	</form>
        </div>
    </div>
</body>
</html>